#testImg{
  max-width: 10%;
  height: auto;
  margin: auto;
}

#textWrap{
  height: 30px;
  padding-bottom: 10px;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

/*TODO: Actually setup sliders*/

.slidecontainer {
  top: auto;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}
#widthName {
  transform: rotate(270deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 15px;
  width: 150px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: #E1E1E1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #000000;
  height: 27px;
  width: 27px;
  border-radius: 50%;
}
.setDiam {
  justify-content: center;
  float right;
}
